* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	transition-duration: 350ms;
}

body {
	margin: 0;
}

#PageWrapper {
	padding: 1em 12.5%;
	background: #e5e5e5;
	min-height: 100vh;
}

.split {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.material-icons {
	background: white;
	color: black;
	line-height: 1.25;
	width: 1.25em;
    text-align: center;
}

.bold {
	font-weight: 700;
	letter-spacing: 2px;
}